body {
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
}

header {
 padding: 10px;
}


@media (min-width: 600px)  {
.container {
    display: grid;    
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px 350px 50px;
    grid-gap: 5px;
	grid-template-areas:
        “. h h h h h h h h h h .”
        "c c c c c c c c c c m m”
        “. f f f f f f f f f f .”;
}
}
